@font-face {
  font-family: "Dosis";
  src: url('fonts/../fonts/Dosis-Regular.ttf') format('truetype'); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000316}}
div.clearer {
  clear: both;
  height: 0;
  line-height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000318}}
body {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  background-color: #575757;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000324}}
div#navigateur {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 0 10px;
  bottom: 0;
  left: 0;
  background-image: -webkit-linear-gradient(94deg, #ff0202 -25%, #ff6d00 125%);
  background-image: -moz-linear-gradient(94deg, #ff0202 -25%, #ff6d00 125%);
  background-image: -o-linear-gradient(94deg, #ff0202 -25%, #ff6d00 125%);
  background-image: linear-gradient(94deg, #ff0202 -25%, #ff6d00 125%);
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000334}}
  div#navigateur a {
    color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000339}}
div#wrapper {
  width: 900px;
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000343}}
  div#wrapper h1 {
    text-align: center;
    color: #fff;
    font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000350}}
div#infosDuBas {
  position: relative;
  width: 500px;
  margin: 0;
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000358}}
div#playerAudio {
  position: relative;
  width: 800px;
  margin: 20px auto 20px auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF313131', endColorstr='#FF787878');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxMzEzMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc4Nzg3OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313131), color-stop(100%, #787878));
  background-image: -webkit-linear-gradient(#313131, #787878);
  background-image: -moz-linear-gradient(#313131, #787878);
  background-image: -o-linear-gradient(#313131, #787878);
  background-image: linear-gradient(#313131, #787878);
  padding: 10px;
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000369}}
  div#playerAudio div#monSWF {
    width: 800px;
    height: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000375}}
  div#playerAudio div#haut {
    overflow: hidden;
    background-color: #4d4d4d;
    padding: 15px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: black -2px 2px 20px;
    -moz-box-shadow: black -2px 2px 20px;
    box-shadow: black -2px 2px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000386}}
    div#playerAudio div#haut div#boutons {
      overflow: auto;
      float: left;
      width: 430px;
      margin: 30px 60px 0 0;
      overflow: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000393}}
      div#playerAudio div#haut div#boutons p {
        float: left;
        margin: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000397}}
        div#playerAudio div#haut div#boutons p:first-child {
          margin: 0 10px 0 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003101}}
        div#playerAudio div#haut div#boutons p a {
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003104}}
      div#playerAudio div#haut div#boutons h4 {
        cursor: pointer;
        margin-top: -20px;
        margin-left: 215px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003110}}
      div#playerAudio div#haut div#boutons div#controleVolume {
        position: relative;
        display: block;
        width: 230px;
        overflow: visible;
        margin-left: 185px;
        margin-top: -7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003118}}
        div#playerAudio div#haut div#boutons div#controleVolume progress {
          position: absolute;
          width: 150px;
          top: 0;
          left: 0;
          cursor: pointer;
          display: inline-block;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          height: 20px;
          padding: 3px 3px 2px 3px;
          background: #333;
          background: -webkit-linear-gradient(#2d2d2d, #444444);
          background: -moz-linear-gradient(#2d2d2d, #444444);
          background: -o-linear-gradient(#2d2d2d, #444444);
          background: linear-gradient(#2d2d2d, #444444);
          border-radius: 15px;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003140}}
        div#playerAudio div#haut div#boutons div#controleVolume progress::-webkit-progress-value {
          border-radius: 10px;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.8) inset, 0 0 2px black;
          background-color: rgba(112, 112, 233, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003148}}
        div#playerAudio div#haut div#boutons div#controleVolume progress::-webkit-progress-bar {
          background: transparent !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003150}}
        div#playerAudio div#haut div#boutons div#controleVolume span#barreVolume {
          position: absolute;
          top: 1px;
          left: 0;
          width: 5px;
          height: 20px;
          background-color: #ddd;
          cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003159}}
        div#playerAudio div#haut div#boutons div#controleVolume > p {
          float: none;
          width: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003161}}
        div#playerAudio div#haut div#boutons div#controleVolume > p#sonMute {
          width: 50px;
          height: 50px;
          display: inline-block;
          cursor: pointer;
          margin-left: 170px;
          margin-top: -15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000313}}
          div#playerAudio div#haut div#boutons div#controleVolume > p#sonMute a {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003164}}
          div#playerAudio div#haut div#boutons div#controleVolume > p#sonMute.mute {
            background: url("../images/controle/style2/picto_mute.png") 0 0 no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003169}}
      div#playerAudio div#haut div#boutons > p#jouer {
        width: 50px;
        height: 50px;
        display: inline-block;
        cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000313}}
        div#playerAudio div#haut div#boutons > p#jouer a {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003171}}
        div#playerAudio div#haut div#boutons > p#jouer.play {
          background: url("../images/controle/style2/picto_play.png") 0 0 no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003172}}
        div#playerAudio div#haut div#boutons > p#jouer.pause {
          background: url("../images/controle/style2/picto_pause.png") 0 0 no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003175}}
      div#playerAudio div#haut div#boutons > p#stop {
        width: 50px;
        height: 50px;
        display: inline-block;
        cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\0000313}}
        div#playerAudio div#haut div#boutons > p#stop a {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003177}}
        div#playerAudio div#haut div#boutons > p#stop.stop {
          background: url("../images/controle/style2/picto_stop.png ") 0 0 no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003182}}
    div#playerAudio div#haut #progress {
      width: 300px;
      margin: 10px auto 0 auto;
      color: #DADADA;
      float: left;
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003190}}
      div#playerAudio div#haut #progress progress {
        width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003195}}
      div#playerAudio div#haut #progress progress::-webkit-progress-value {
        border-radius: 10px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.8) inset, 0 0 2px black;
        background-color: rgba(112, 112, 233, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003204}}
      div#playerAudio div#haut #progress progress#progression {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 20px;
        padding: 3px 3px 2px 3px;
        background: #333;
        background: -webkit-linear-gradient(#2d2d2d, #444444);
        background: -moz-linear-gradient(#2d2d2d, #444444);
        background: -o-linear-gradient(#2d2d2d, #444444);
        background: linear-gradient(#2d2d2d, #444444);
        border-radius: 15px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003220}}
      div#playerAudio div#haut #progress progress#lecture {
        position: absolute;
        top: 0px;
        left: 0;
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 20px;
        padding: 3px 3px 2px 3px;
        border-radius: 15px;
        cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003232}}
      div#playerAudio div#haut #progress progress#lecture::-webkit-progress-value {
        background-color: rgba(245, 245, 253, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003233}}
      div#playerAudio div#haut #progress progress#lecture::-moz-progress-value {
        background-color: rgba(245, 245, 253, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003234}}
      div#playerAudio div#haut #progress progress::-webkit-progress-bar {
        background: transparent !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003235}}
      div#playerAudio div#haut #progress progress::-moz-progress-bar {
        background: transparent !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003237}}
      div#playerAudio div#haut #progress span#barreLecture {
        position: absolute;
        top: 1px;
        left: 0;
        width: 10px;
        height: 20px;
        background-color: #ddd;
        cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003246}}
      div#playerAudio div#haut #progress div#chargementEtDuree {
        overflow: auto;
        width: 300px;
        margin: -10px 0 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003251}}
        div#playerAudio div#haut #progress div#chargementEtDuree p#chargement {
          float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003252}}
        div#playerAudio div#haut #progress div#chargementEtDuree p#duree {
          float: right;
          margin-right: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003257}}
    div#playerAudio div#haut div.titreChanson {
      margin-bottom: 8px;
      text-align: center;
      color: #DADADA; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003267}}
  div#playerAudio div#milieu {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003270}}
    div#playerAudio div#milieu ul#metadonnees {
      list-style-type: square;
      color: #fff;
      background-color: #313131;
      padding: 5px 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003276}}
      div#playerAudio div#milieu ul#metadonnees li {
        padding: 5px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003279}}
    div#playerAudio div#milieu div#jaquette {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 274px;
      box-shadow: -5px 5px 5px #313131; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003286}}
      div#playerAudio div#milieu div#jaquette img {
        max-width: 274px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003290}}
      div#playerAudio div#milieu div#jaquette cite {
        background: #111;
        -moz-opacity: .75;
        filter: alpha(opacity=75);
        opacity: .85;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 255px;
        padding: 3px 10px;
        border-top: 1px solid #5c5c5c; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003306}}
  div#playerAudio div#explications {
    padding: 0 45px;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003310}}
    div#playerAudio div#explications span.important {
      color: rgba(12, 12, 78, 0.5);
      font-weight: bold;
      border-bottom: 1px dotted rgba(12, 12, 78, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003319}}
ul#chansons {
  float: left;
  width: 425px;
  list-style-position: inside;
  vertical-align: middle;
  margin-left: -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003326}}
  ul#chansons li.titre {
    list-style-image: none;
    list-style-type: square;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 10px 10px 10px;
    margin: 5px 0;
    color: #fff;
    width: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003337}}
    ul#chansons li.titre span:first-child {
      color: #696969;
      font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003343}}
    ul#chansons li.titre.couleurTitre {
      background-color: #313131;
      transition: background-color 0.8s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003344}}
    ul#chansons li.titre.highlighted {
      list-style-image: url("../images/fleche.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003349}}
    ul#chansons li.titre.survol {
      background-color: rgba(12, 12, 78, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003357}}
footer {
  text-align: center;
  margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/projet_flash\/assets\/css\/style\.scss}line{font-family:\00003361}}
  footer p {
    line-height: 20px;
    height: 20px; }
